<!DOCTYPE html>
<html>
  <head>
    <title>Library Management System | Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Lib Management System</h1>
    <p>You don't have access to this site.</p>
  </body>
</html>
