<!DOCTYPE html>
<html>
  <head>
    <title>Faqja nuk u gjet (404)</title>
    <link rel="stylesheet" href="/stylesheets/error.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="brand">
          <p id="brand_image" class="brand-name">
            Biblioteka e Qytetit - Lipjan
          </p>
          <h1>Ups!</h1>
          <p>Nuk mund të gjejmë atë që ishit duke kërkuar.</p>

          <a href="/">Shko tek Homepage</a>
        </div>
      </nav>
    </header>
  </body>
</html>
