<!DOCTYPE html>
<html>
  <head>
    <title>Faqja nuk u gjet (404)</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Ups!</h1>
    <p>Faqja që keni kërkuar nuk ekziston</p>

    <a href="/">Shko në Homepage</a>
  </body>
</html>
