<!DOCTYPE html>
<html>
  <head>
    <title>Library Management System</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Lib Management System</h1>
    <p>Welcome to our digital library database</p>
  </body>
</html>
