<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Biblioteka e Qytetit - Lipjan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <link rel="stylesheet" href="dist/css/adminlte.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>Libraria </b>e Shkollës</a>
      </div>

      <div class="card">
        <div class="card-body login-card-body">
          <% if(messages.success){} if(messages.error){ %>
          <div class="alert alert-danger"><%= messages.error %></div>
          <% } %>

          <p class="login-box-msg">Kyqu në llogari</p>

          <form action="/auth/login" method="post" id="frm-admin-login">
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Email"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Fjalëkalimi"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <button type="submit" class="btn btn-success btn-block">
                  Hyr
                </button>
              </div>
            </div>
          </form>

          <!-- FORGOT PASSWORD -->
          <button
            type="button"
            class="btn btn-link"
            data-toggle="modal"
            data-target="#resetPasswordModal"
          >
            Ke harruar fjalëkalimin?
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="resetPasswordModal"
            tabindex="-1"
            role="dialog"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Rikthe fjalëkalimin</h5>

                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <form action="/auth/forgotpassword" method="POST">
                  <div class="modal-body">
                    <p>
                      Ju do të pranoni një email për rikthim të fjalëkalimit
                    </p>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Shëno email"
                      name="email"
                    />
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Kthehu
                    </button>
                    <button type="submit" class="btn btn-primary">Dërgo</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="dist/js/adminlte.min.js"></script>
  </body>
</html>
