body {
  font-family: 'Lato', sans-serif;
  background: #fdf5f6;
}

.search {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: 100%;
}

.Input-text {
  font-size: 1.2rem;
  padding: 12px 16px;
  font-size: 1.3rem;
  border: none;
  border-radius: 0.4rem;
}

.Input-text::placeholder {
  color: #b0bec5;
}

.Input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem rgba(0, 0, 0, 0.11);
}

.search button {
  position: absolute;
  right: 8px;
  padding: 12px 20px;
  border-radius: 0.4rem;
  font-size: 0.6rem;
  border: none;
  background: #004445;
  color: #fafafa;
}

.books,
.schools,
.categories {
  margin: 60px auto;
}

.books header,
.schools header,
.categories header {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-item {
  font-size: 2rem;
  color: #011c1e;
  font-weight: 600;
  padding-left: 8px;
  border-left: 5px solid #6cba8e;
  margin: 0;
}

.card-header {
  overflow: hidden;
}

.card-header-img {
  transition: all 0.5s;
}

.card-header:hover .card-header-img {
  transform: scale(1.1);
}

.books header a {
  text-decoration: none;
  color: #004445;
  font-weight: bold;
}

.content {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*  CONTENT  */

.card {
  padding-top: 8px;
  margin: 10px;
  background-color: #fafafa;
  border-radius: 0.4rem;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 280px;
}

.card-header {
  padding: 0;
}

.card-header img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 140px;
}

.tag {
  font-size: 14px;
  color: #011c1e;
  padding-bottom: 1px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.book-name {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.book-author {
  color: #6cba8e;
  font-size: 12px;
  margin: 0 0 40px;
  font-size: 16px;
  text-transform: capitalize;
}

.card-body button {
  background: #6cba8e;
  border-radius: 0.4rem;
  border: none;
  font-size: 1rem;
  padding: 4px 8px;
  transition: all 0.5s;
}

.card-body button:hover {
  background: #004445;
}

.card-body button a {
  text-decoration: none;
  color: #fafafa;
  border: none;
}

.category_link {
  text-decoration: none;
  color: #6cba8e;
  padding: 4px;
}

.category_link:hover {
  text-decoration: none;
  color: #004445;
}

/* DETAILS */
.details-jumbo {
  padding: 4rem 1rem;
}

.details-img {
  width: 350px;
  height: 500px;
}

.details-author {
  color: #6cba8e;
}

.details-footer span {
  color: #6cba8e;
  font-weight: 700;
}

#details_school {
  cursor: auto;
  transition: none;
}

#details_school:hover {
  background: none;
  color: #011c1e;
}

.breadcrumb {
  background: none;
}

.breadcrumb-item a {
  color: #6cba8e;
}

/* SEARCH */

#search_books {
  padding: none;
  width: 100%;
  justify-content: flex-end;
  align-content: space-between;
}

#search_card {
  min-width: 260px;
  padding: 16px;
  margin-bottom: 30px;
}

.search_list_cat {
  list-style-type: none;
  padding-left: 0;
}

.search_list_item {
  padding: 8px 0;
}

.search_list_cat > .lead {
  font-weight: 700;
  color: #004445;
}

/* #search_card {
  min-width: 240px;
} */

/* @media only screen and (max-width: 576px) {
  #search_card {
    min-width: none;
  }
} */
