<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link">
    <img
      src="/images/bookshelf.png"
      alt="Superadmin Image"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Biblioteka e Qytetit</span>
  </a>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block"></a>
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="/superadmin/homepage" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Paneli</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Shkolla
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/superadmin/schools/add-school" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shto Shkollë</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/superadmin/schools/list-school" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listo Shkollat</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Admin
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/superadmin/add-admin" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shto Admin</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/superadmin/list-admin" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listo Adminat</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-cog"></i>
            <p>
              Parametra
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/auth/resetPassword" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ndrysho fjalëkalimin</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
