<script src="plugins/jquery/jquery.min.js"></script>

<script src="plugins/jquery-ui/jquery-ui.min.js"></script>

<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>

<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="plugins/moment/moment.min.js"></script>

<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="plugins/summernote/summernote-bs4.min.js"></script>

<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

<script src="dist/js/adminlte.js"></script>

<script src="dist/js/pages/dashboard.js"></script>

<script src="plugins/datatables/jquery.dataTables.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

<script src="plugins/jquery-validation/jquery.validate.min.js"></script>

<script>
  $(function () {
    if ($('#tbl-list-category').length > 0) {
      $('#tbl-list-category').DataTable();
    }

    if ($('#tbl-list-book').length > 0) {
      $('#tbl-list-book').DataTable();
    }

    if ($('#tbl-list-user').length > 0) {
      $('#tbl-list-user').DataTable();
    }

    if ($('#tbl-list-issue-books').length > 0) {
      $('#tbl-list-issue-books').DataTable();
    }

    if ($('#tbl-list-issue-books').length > 0) {
      $('#tbl-list-issue-books').DataTable();
    }

    if ($('#tbl-list-return-books').length > 0) {
      $('#tbl-list-return-books').DataTable();
    }

    if ($('#tbl-list-day-settings').length > 0) {
      $('#tbl-list-day-settings').DataTable();
    }

    if ($('#frm-add-category').length > 0) {
      $('#frm-add-category').validate();
    }

    if ($('#frm-add-book').length > 0) {
      $('#frm-add-book').validate();
    }

    if ($('#frm-add-user').length > 0) {
      $('#frm-add-user').validate();
    }

    if ($('#frm-issue-book').length > 0) {
      $('#frm-issue-book').validate();
    }

    if ($('#frm-return-book').length > 0) {
      $('#frm-return-book').validate();
    }

    if ($('#frm-add-days-settings').length > 0) {
      $('#frm-add-days-settings').validate();
    }

    if ($('#tbl-list-school').length > 0) {
      $('#tbl-list-school').DataTable();
    }

    if ($('#tbl-list-admin').length > 0) {
      $('#tbl-list-admin').DataTable();
    }

    const app_url = window.location.href;

    $('#dd_category').on('change', (e) => {
      const postdata = 'cat_id=' + e.target.value;

      $.post(app_url + '/category-list-book', postdata, (response) => {
        let booksHtml = "<option value=''>Zgjedh librin</option>";

        $.each(response.books, (index, item) => {
          if (item.amount <= 0) {
            booksHtml +=
              '<option disabled value="' +
              item.id +
              '">' +
              item.name +
              '</option>';
          } else {
            booksHtml +=
              '<option value="' + item.id + '">' + item.name + '</option>';
          }
        });

        $('#dd_book_list').html(booksHtml);
      });
    });

    $('#return_dd_user').on('change', (e) => {
      const postdata = 'user_id=' + e.target.value;

      $.post(app_url + '/user-list-book', postdata, (response) => {
        let booksHtml = "<option value=''>Zgjedh librin</option>";

        $.each(response.books, (index, item) => {
          booksHtml +=
            '<option value="' +
            item.bookId +
            '">' +
            item.book.name +
            '</option>';
        });
        console.log(response.books);

        $('#return_dd_book').html(booksHtml);
      });
    });
  });
</script>
