<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link">
    <img
      src="/images/bookshelf.png"
      alt="Admin"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Biblioteka</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block">Admin</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="/admin" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Paneli</p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Kategori
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/categories/add-category" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shto Kategori</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/categories/list-category" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listo Kategoritë</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Libra
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/books/add-book" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shto Libra</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/books/list-book" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listo Librat</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Nxënës
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/users/add-user" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shto Nxënës</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/users/list-user" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listo Nxënësit</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Huazime
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/issues/issue-book" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Huazo Libër</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/issues/list-issue-book" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listo Huazimet</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Rikthime
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/returns/return-book" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Rikthe Libër</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/returns/list-return-book" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listo Rikthimet</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-cog"></i>
            <p>
              Parametra
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/auth/resetPassword" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ndrysho fjalëkalimin</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
