<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Superadmin - Add Admin</title>
  </head>
  <body>
    <style>
      #frm-add-user label.error {
        color: red;
      }
    </style>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Add Admin</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Add Admin</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-md-12">
              <% if(messages.success){ %>
              <div class="alert alert-success"><%= messages.success %></div>
              <% } %> <% if(messages.error){ %>
              <div class="alert alert-danger"><%= messages.error %></div>
              <% } %>
              <div class="card card-dark">
                <div class="card-header">
                  <h3 class="card-title">Add Admin</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form
                    id="frm-add-user"
                    name="frm-add-user"
                    method="POST"
                    action="/superadmin/add-admin"
                  >
                    <div class="row">
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter name"
                            name="name"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Email</label>
                          <input
                            type="email"
                            class="form-control"
                            placeholder="Enter email"
                            name="email"
                            required
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <!-- LIMIT THIS INPUT TO MAX 10 NUMBERS -->
                      <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>ID Number</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter personal ID number"
                            name="personal_number"
                            required
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Select School</label>
                        <select
                          class="form-control"
                          required
                          name="schoolId"
                          id=""
                        >
                          <option value="">Choose school</option>
                          <% schools.forEach(school => { %>
                          <option value="<%=school.id%>">
                            <%=school.name%>
                          </option>
                          <% }) %>
                        </select>
                      </div>
                    </div>

                    <button class="btn btn-dark" type="submit">Submit</button>
                  </form>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
  </body>
</html>
